.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: inherit;
}

.wy-side-nav-search {
    background-color: #18334B;
}

a:hover {
    color: #92a61f;
}

.wy-menu-vertical p.caption {
    color: #92a61f;
}
.wy-nav-content {
    width: 90%;
}
